.cartContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.productImage {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.removeButton {
  color: gray;
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-weight: normal;
}

.removeButton:hover {
  background-color: #f0f0f0;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
}

.table td.product-column {
  text-align: left;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.quantity-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  width: 100px;
  max-width: 120px;
}

.quantity-button {
  border: none;
  background-color: transparent;
  color: #333;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: normal;
}

.quantity-value {
  width: 28px;
  text-align: center;
  font-size: 16px;
  margin: 0 4px;
  font-weight: normal;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.summary-table td {
  padding: 5px 0;
  font-weight: normal;
}

.summary-table tr td:first-child {
  text-align: left;
}

.summary-table tr td:last-child {
  text-align: right;
}

.summary-table tr:not(:last-child) td {
  border-bottom: 1px solid #ddd;
}

.card-title {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
}

.btn-danger {
  margin-top: 20px;
  font-weight: normal;
}

.btn-return-to-shop {
  padding: 0.7rem 1.5rem;
  height: 45px;
  font-size: 1rem;
  border: 2px solid grey;
  color: black;
  background-color: white;
  border-radius: 5px;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-return-to-shop:hover {
  background-color: #a9a9a9; /* Gris oscuro intermedio */
  color: white;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.btn-process-checkout {
  padding: 0.7rem 1.5rem;
  height: 45px;
  font-size: 1rem;
  background-color: white;
  color: black;
  border: 2px solid grey;
  border-radius: 5px;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-process-checkout:hover {
  background-color: #a9a9a9; /* Gris oscuro intermedio */
  color: white;
}
